    body{
        overflow: hidden;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        
    }
    .main {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0 0 0 0;
        display: flex;
        padding: 0 0 0 0;
        left:0;
        right:0;
    }  
    .sidebar{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 15%;
        background: #b0623f;
        padding: 100px 30px 0 30px;
    }   
    .list{
        justify-content: center;
        align-items: center;
    }

    .sidebar-image{ 
        border-radius:50%;
        width:180px;
        height: 180px;  
        border: 5px solid #d38572;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style:none;
        padding: 0 0 0 0;
    }
    .space{
        padding: 8px;
    }
    .format{
        color:#df9e80;
    }
    .format:hover{
        color: white;
    }
    .format1:hover :active{
        color: white;
    }
    .content{
        display: flex;
        flex-direction: column;
        width:100%;
        height:90%;
        position: relative;  
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    .section1{
        position: relative;
        padding: 100px 100px; 
        height: 100%;
        background: white;
        /* border: 5px solid white; */
    }
    .title{
        color: black;
        font-size: 50px;
        margin: 75px 0 10px 0px;

      }
      .text{
          color: #b0623f;
      }
      .add{
        overflow-y: hidden;
        color:grey;
        padding: 0 0 2% 0;
        margin: 0 0 2% 0;
      }
      .email{
          color:red;
       }
      .description{
          padding: 0;
          margin: 0;
          color:grey;
          margin: 0;
      }
     .icon{
      display: flex;
      padding-top: 0 0 98% 9px; 
      font-size: 20px;    
      margin: 15px 8px 20% 2px;
      padding-left: 0 1px 0 1px;
      flex-direction: row;  
      }
      .icon-round
      {
        background-color: gray;
        border-radius: 52%;
        border: 2x  rgb(158, 155, 155);
        color:white;
        padding: 10px;
        margin: 1% 1% 2 1px;
      }
      .list {
          padding: 10px 10px 0px 10px;
      }
      .footer{
          display: flex;
          width: 100%;
          position: relative;
          font-size: 25px;
          font-weight: bold;
          color:black;
          /* margin-top:0 0 0 0; */
          /* padding-bottom: 25px; */
          /* margin: 0 0 0 0 ; */
          /* padding:5px 0 0 10px; */
          align-items: center;
          /* text-align: center; */
          margin-top: 20px;
          height: 10%;
          position: fixed;
      }